<!DOCTYPE html>
<html ng-app lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body ng-controller="PeopleController">
        <h1>Address Book</h1>
        <div class="wrapper">
            <div class="contact-item" ng-repeat="person in people|orderBy: 'name    '">
                <div class="name">{{person.name}} - {{person.phone}}</div>
                <span class="city">{{person.city}}</span>
            </div>
            <h2>Add Contact</h2>
            Name: <input type="text" ng-model="newPerson.name"></input> <br>
            Phone: <input type="text" ng-model="newPerson.phone"></input> <br>
            City: <input type="text" ng-model="newPerson.city"></input> <br>
            <button type="button" ng-click="save()">Save</button>
        </div>
        <!--JS files-->
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="scripts.js"></script>
    </body>
</html>
